<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenes</title>
    <link rel="stylesheet" href="/static/css/imagesstyle.css">
</head>
<body>
    <div class="image-container">
        <div class="image-wrapper">
            <img src="/static/imagenes/BB8.0.png" alt="Imagen 1">
            <span>BB8 Jaku</span>
        </div>
        <div class="image-wrapper">
            <img src="/static/imagenes/hola.jpg" alt="Imagen 2">
            <span>ATAT Walker Hott</span>
        </div>
        <div class="image-wrapper">
            <img src="/static/imagenes/R2D2 ARTU 2.png" alt="Imagen 3">
            <span>R2D2 Tatoine</span>
        </div>
    </div>
    <button>
        <a href="/index.html">Volver a inicio</a>
    </button>
</body>
</html>
