<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetos 3D</title>
    <link rel="stylesheet" href="/static/css/3dstyle.css">
</head>
<body>
    <div class="iframe-container">
        <div class="iframe-wrapper">
            <iframe width="1024" height="640" allowfullscreen src="https://v3d.net/108v"></iframe>
            <span>BB-8</span>
        </div>
        <div class="iframe-wrapper">
            <iframe width="1024" height="640" allowfullscreen src="https://v3d.net/10ac"></iframe>
            <span>ATAT Walker</span>
        </div>
        <div class="iframe-wrapper">
            <iframe width="1024" height="640" allowfullscreen src="https://v3d.net/10ai"></iframe>
            <span>Batmobil</span>
        </div>
    </div>
    <button>
        <a href="/index.html">Volver a inicio</a>
    </button>
</body>
</html>
