<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link rel="stylesheet" href="/static/css/videosstyle.css">
    <script defer src="/static/js/videoscript.js"></script>
</head>
<body>
    <div class="video-container">
        <div class="video-wrapper">
            <div class="overlay">
                <img src="/static/imagenes/X-wing A new hope3.png" alt="Video 1 Thumbnail">
                <span>X-Wing</span>
            </div>
            <video width="500" height="500" controls>
                <source src="/static/imagenes/videos/Luck Skywalker X WING 97.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="video-wrapper">
            <div class="overlay">
                <img src="/static/imagenes/speeder1.jpg" alt="Video 2 Thumbnail">
                <span>Speeder Endor</span>
            </div>
            <video width="500" height="500" controls>
                <source src="/static/imagenes/videos/E.Final01.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="video-wrapper">
            <div class="overlay">
                <img src="/static/imagenes/BB8.0.png" alt="Video 3 Thumbnail">
                <span>BB8</span>
            </div>
            <video width="500" height="500" controls>
                <source src="/static/imagenes/videos/BB8 FINAL.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <button>
        <a href="/index.html">Volver a inicio</a>
    </button>
</body>
</html>
